PORT=5000
APP_URL=http://localhost:3000

BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRES_IN=3d

DATABASE_URL="your_database_url_here"

STRIPE_PRODUCT_PRICE_ID=price_id
STRIPE_SECRET_KEY=strip e_secret_key
STRIPE_WEBHOOK_SECRET=webhook_secret